:root { --f-red: #EF1A2D; }
body { -webkit-font-smoothing: antialiased; }
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 10px; }
.driver-dot { transition: cx 0.6s linear, cy 0.6s linear; }
.driver-label { font-size: 150px; font-weight: 900; fill: white; stroke: black; stroke-width: 25px; paint-order: stroke; }
.tower-item { height: 48px; border-bottom: 1px solid rgba(255,255,255,0.02); transition: all 0.2s; }
.tower-item:hover { background: rgba(255,255,255,0.05); }
.active-row { border-left: 3px solid var(--f-red); background: linear-gradient(90deg, rgba(239,26,45,0.1) 0%, transparent 100%); }